/* Body CSS */
body {
    background-color: black;
    // background-size: cover;
    // background-attachment: fixed;
}

div.root {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

div.linkPanel {
    background-color: rgb(61, 61, 61);
    border-style: solid;
    border-color: darkgray;
    position: absolute;

    top: 30%;
    left: 10%;
    height: 30%;
    width: 30%;

    display: flex;
    flex-direction: row;
}

div.linkColumn {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

p {
    color: white;
}

h {
    color: white;
}

a {
    color: white;
}