$sidePrismHeight: 800px;
$topPrismHeight: 100px;
$bottomPrismHeight: 300px;

$verticalFaceHeight: 50px;

.sidePanel {
    width: 25%;
    height: $sidePrismHeight;
}

.mainPanel {
    width: 45%;
    height: $sidePrismHeight;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.prismSuperior {
    perspective: 800px;
    width: 100%;
    height: $topPrismHeight;
    margin: 0px;
    transform-style: preserve-3d;
    //transform: translateX(25%);
    display: flex;
    flex-direction: column;
}

.prismInferior {
    perspective: 800px;
    width: 100%;
    height: $bottomPrismHeight;
    margin: 0px;
    transform-style: preserve-3d;
    //transform: translateX(25%);
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.prismSinister {
    perspective: 800px;
    width: 100%;
    height: $sidePrismHeight;
    margin: 0px;
    transform-style: preserve-3d;
    transform: translateX(25%);
    display: flex;
    flex-direction: row;
  }

.prismDexter {
    perspective: 800px;
    width: 100%;
    height: $sidePrismHeight;
    margin: 0px;
    transform-style: preserve-3d;
    transform: translateX(-25%);
    display: flex;
    flex-direction: row;
  }

.face {
    width: 100%;
    height: 100%;
    background: rgba(100,100,100,0.5);
    text-align: center;
    line-height: 2em;
  }

.middle {
    height: $sidePrismHeight - ($bottomPrismHeight + $topPrismHeight)
}

.bottom {
    transform: rotateX(-45deg) translateY(-22.5%);
    width: 97.75%;
    height: $verticalFaceHeight;
    align-self: center;
}
.frontSuperior {
    //height: 50%
}

.top {
    transform: rotateX(45deg) translateY(32%); 
    width: 96.85%;
    height: $verticalFaceHeight;
    align-self: center;
}
.frontInferior {}

.left {transform: rotateY(-45deg) translateX(-50%);}
.frontSinister {transform: translateX(-50%)}

.right {transform: rotateY(45deg) translateX(50%);}
.frontDexter {transform: translateX(50%)}