@use './perspective.scss';


$left-middle-X: 5vw;
$left-middle-Y: 5vh;
$left-middle-width: 10vw;
$left-middle-height: 40vh;

.left-middle {
    position: absolute;
    background-color: white;
    @include perspective.perspective-edges($left-middle-X, $left-middle-Y, $left-middle-width, $left-middle-height);
}