/* Body CSS */

body {
    background-image: url("./background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* Div CSS */
div.root {
    display: flex;
    flex-direction: row;
    padding: 1%;
}

div.panel {
    border-radius: 15px;
    margin: 1%;
    padding: 1%;
    background-color: rgba(0, 0, 0,0.4)
}

div.main {
    width: 45%;
    height: 800px;
}


div.side {
    width: 25%;
    height: 800px;
}

p {
    color: white
}